# aggregate functions

In [0]:
from pyspark.sql.functions import col
data = [(1,"balaji","jadhav","male","18000","IT"),
         (2,"ramkishan","jadhav","male","20000","HR"), 
         (3,"lavkush","pawar","male","25000","Sales"), 
         (4,"alok","pawar","male","30000","Marketing"),
         (5,"gopal","rathod","male","40000","IT"),
         (6,"mishti","more","female","40000","HR"),
         (7,"aiti","aade","female","40000","Sales")]
schema = ["id","firstname","lastname","gender","salary","department"]
df=spark.createDataFrame(data=data,schema=schema)
df = df.withColumn("salary",col("salary").cast("integer"))
df.show()
df.printSchema()

### approx_count_distinct

In [0]:
from pyspark.sql.functions import approx_count_distinct
df.select(approx_count_distinct('salary')).show()

### avg

In [0]:
from pyspark.sql.functions import avg
df.select(avg('salary')).show()

### collect_list

In [0]:
from pyspark.sql.functions import collect_list
df.select(collect_list("salary")).show(truncate=False)

### collect_set

In [0]:
from pyspark.sql.functions import collect_set
df.select(collect_set("salary")).show(truncate=False)

### countDistinct

In [0]:
from pyspark.sql.functions import countDistinct
df.select(countDistinct('salary')).show()

### count

In [0]:
from pyspark.sql.functions import count
df.select(count('salary')).show()

### min,max,sum

In [0]:
from pyspark.sql.functions import min,max,sum
df.select(min('salary')).show()
df.select(max('salary')).show()
df.select(sum('salary')).show()