# createOrReplaceTempView

In [0]:
from datetime import date
data = [(1,"balaji","jadhav","male",18000,"IT"),
         (2,"ramkishan","jadhav","male",20000,"HR"), 
         (3,"lavkush","pawar","male",25000,"Sales"), 
         (4,"alok","pawar","male",30000,"Marketing"),
         (5,"gopal","rathod","male",40000,"IT"),
         (6,"mishti","more","female",40000,"HR"),
         (7,"aiti","aade","female",40000,"Sales")]
schema = ["id","firstname","lastname","gender","salary","department"]
df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

In [0]:
df.createOrReplaceTempView("employees")

In [0]:
df1=spark.sql("""select * from employees""")
df1.show()

In [0]:
%sql
select * from employees where salary < 30000;

In [0]:
spark.sql("select department,count(id) as total_emp_each_dept from employees group by department").show()

In [0]:
%sql
select lastname,firstname from employees;