# dropna

In [0]:
from datetime import date
data = [(1,"balaji","jadhav",None,18000,None),
         (2,"ramkishan","jadhav","male",20000,"HR"), 
         (3,"lavkush","pawar","male",25000,"Sales"), 
         (4,"alok","pawar","male",None,"Marketing"),
         (5,"gopal","rathod","male",40000,"IT"),
         (6,"mishti","more",None,40000,"HR"),
         (7,"aiti",None,"female",40000,"Sales")]
schema = ["id","firstname","lastname","gender","salary","department"]
df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

In [0]:
df.dropna().show()

In [0]:
df.dropna(subset=["salary"]).show()

In [0]:
df.dropna(subset=["salary", "department"]).show()

In [0]:
df.na.drop().show()