# groupBy agg

In [0]:
from datetime import date
data = [(1,"balaji","jadhav","male","18000","IT"),
         (2,"ramkishan","jadhav","male","20000","HR"), 
         (3,"lavkush","pawar","male","25000","Sales"), 
         (4,"alok","pawar","male","30000","Marketing"),
         (5,"gopal","rathod","male","40000","IT"),
         (6,"mishti","more","female","40000","HR"),
         (7,"aiti","aade","female","40000","Sales")]
schema = ["id","firstname","lastname","gender","salary","department"]
df=spark.createDataFrame(data=data,schema=schema)
display(df)

In [0]:
from pyspark.sql.functions import count,min,max
df.groupBy("department").agg(count("*").alias("countOfemployee"),\
                         max("salary").alias("maxSalary"),\
                         min("salary").alias("minSalary")).show()

In [0]:
from pyspark.sql.functions import count,min,max,avg
df.groupBy("gender").agg(avg("salary").alias("avgSalary"),\
                         max("salary").alias("maxSalary"),\
                         min("salary").alias("minSalary")).show()