# unionByName

In [0]:
from datetime import date
data1 = [(1,"balaji","jadhav","male","20","IT"),
         (2,"ramkishan","jadhav","male","21","HR"), 
         (3,"lavkush","pawar","male","23","Sales"), 
         (4,"alok","pawar","male","22","Marketing")]

schema1 = ["id","firstname","lastname","gender","age","department"]

data2 = [(5,"gopal","rathod","male","40000","IT"),
         (6,"mishti","more","female","40000","HR"),
         (7,"aiti","aade","female","40000","Sales")]

schema2 = ["id","firstname","lastname","gender","salary","department"]
df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)
display(df1)
display(df2)

In [0]:
df1.unionByName(df2,allowMissingColumns=True).show()

In [0]:
help(df1.unionByName)